@import url(http://reset5.googlecode.com/hg/reset.min.css);
/*@import url(http://fonts.googleapis.com/css?family=Lobster);*/
@import url(http://fonts.googleapis.com/css?family=Raleway:200);

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../img/twinkle_twinkle.png");
  color: white;
  font-family: Helvetica;
}

h1 {
  /*font-family: 'Lobster', cursive;*/
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  text-align: center;
  letter-spacing: 1px;
}

#nav a {
  position: absolute;
  bottom: 0px;
  padding: 30px;
  padding-bottom: 20px;
  
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#nav a.trackpad {
  left: 0px;
}

#nav a.keyboard {
  right: 0px;
}

#trackpad {
  position: absolute;
  top:40px; 
  left:0px; 

  width: 100%;
  height: 80%;

  background-image: url("../img/hand.png");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size: 128px 128px; 

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: inset 0 0 25px -5px black;
  box-shadow: inset 0 0 25px -5px black;
  background-color: lightgray;
}

#keyboard {
  position: absolute;
  top: 80px;
  
  font-size: 24px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 500px) {
  /* Styles */
  #trackpad {
    top:0px; 
    left:0px; 
    width: 100%;
    height:100%;
  }

  #nav { 
    display: none;
  }
}
